{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">About Us</h4>
                    <p class="card-text">Welcome to Nutsa's restaurant, a culinary haven where passion meets flavor, and every dish tells a story. Nestled in the heart of Tbilisi, our restaurant is a celebration of food, culture, and community.</p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Our Story</h4>
                    <p class="card-text">Founded in 2024, Nutsa's restaurant is the brainchild of Nutsa, whose culinary journey began with a simple dream — to create a space where people could come together to savor delectable cuisines from around the world. What started as a humble eatery has now blossomed into a culinary destination known for its innovative dishes, warm hospitality, and unforgettable dining experiences.</p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Visit Us</h4>
                    <p class="card-text">We invite you to step into our world of gastronomic delights and experience the magic of Nutsa's restaurant. Whether you're looking for a romantic dinner for two, a family celebration, or a casual gathering with friends, we promise an unforgettable culinary adventure that will leave you craving for more.</p>
                </div>
            </div>

            <hr>

            <p class="text-center">Come, join us, and let's create delicious memories together!</p>
        </div>
    </div>
</div>
{% endblock %}
